---
layout       : page
title        : 'Shaman'
nav          : false
nav-dev      : true
data         : shaman
---

{%- assign data = site.data[page.data] -%}

<div class="row no-gutters page-row">
  <div class="col">

    <div class="row">
      <div class="col">
        {%- include icon.html  image="spell_nature_lightning.jpg" image-source=page.data -%}

        <h1>Elemental (TODO, haven't played with this spec yet)</h1>
      </div>
    </div>

    {%- for keybindings in data.elemental -%}
      <div class="row no-gutters">

        <div class="col">

          {%- for keybinding in keybindings -%}
            {%- assign key = keybinding[1] -%}
            {%- include icon.html enabled=key.enabled keybinding=key.keybinding description=key.description id=key.ability.id image=key.ability.icon image-source=page.data -%}
          {%- endfor -%}

        </div>

      </div>
    {%- endfor -%}

  </div>
</div>

<div class="row no-gutters page-row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row no-gutters page-row">
  <div class="col">

    <div class="row">
      <div class="col">
        {%- include icon.html  image="spell_shaman_improvedstormstrike.jpg" image-source=page.data -%}

        <h1>Enhancement</h1>
      </div>
    </div>

    {%- for keybindings in data.enhancement -%}
      <div class="row no-gutters">

        <div class="col">

          {%- for keybinding in keybindings -%}
            {%- assign key = keybinding[1] -%}
            {%- include icon.html enabled=key.enabled keybinding=key.keybinding description=key.description id=key.ability.id image=key.ability.icon image-source=page.data -%}
          {%- endfor -%}

        </div>

      </div>
    {%- endfor -%}

  </div>
</div>

<div class="row no-gutters page-row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row no-gutters page-row">
  <div class="col">

    <div class="row">
      <div class="col">
        {%- include icon.html  image="spell_nature_magicimmunity.jpg" image-source=page.data -%}

        <h1>Restoration</h1>
      </div>
    </div>

    {%- for keybindings in data.restoration -%}
      <div class="row no-gutters">

        <div class="col">

          {%- for keybinding in keybindings -%}
            {%- assign key = keybinding[1] -%}
            {%- include icon.html enabled=key.enabled keybinding=key.keybinding description=key.description id=key.ability.id image=key.ability.icon image-source=page.data -%}
          {%- endfor -%}

        </div>

      </div>
    {%- endfor -%}

  </div>
</div>
