<footer>
  <div class="container text-center">

    <p>
      Powered by <a href="https://jekyllrb.com/" target="_blank">Jekyll</a> &amp; <a href="https://gitlab.com/Saucyminator/web-wow-keybindings" target="_blank">hosted</a> on <a href="https://gitlab.com" target="_blank">GitLab</a><br class="visible-xs">
      <span>Game version: {{ site.gameversion }}</span>
    </p>

  </div>
</footer>
