<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} {% if site.tagline %}- {{ site.tagline }}{% endif %}
    {% else %}
      {{ page.title }} - {{ site.title }}
    {% endif %}
  </title>

  <!-- CSS -->
  {% if site.versions.google_fonts %}<link rel="stylesheet" href="//fonts.googleapis.com/css?family={{ site.versions.google_fonts }}">{% endif %}
  {% if site.versions.font_awesome %}<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/{{ site.versions.font_awesome }}/css/fontawesome.min.css">{% endif %}
  <link rel="stylesheet" href="{{ site.folders.css | prepend: site.baseurl }}/main.css?{{ site.time | date: site.date_formats.timestamp }}">

  <!-- Icons -->
  <link rel="shortcut icon" href="{{ site.folders.favicon | prepend: site.baseurl }}/favicon.ico">
</head>
