<div class="icon-container">
  <div class="icon">
    {%- if include.image != '' and include.image != nil -%}
      <div class="icon-image" style="background-image: url('{{ site.folders.icons | prepend: site.baseurl }}/{{ include.image-source}}/{{ include.image }}');"></div>
    {%- endif -%}

    <div class="icon-border {% unless include.enabled == true -%}fade-out{%- endunless -%}"></div>

    {%- if include.id != '' and include.id != nil -%}
      <a href="https://wowhead.com/spell={{ include.id }}" data-wowhead="spell={{ include.id }}" target="_blank"></a>
    {%- endif -%}

    {%- if include.keybinding != '' and include.keybinding != nil -%}
        <span class="icon-text icon-keybinding">
          <span><div class="element"><svg><text x="90%" y="70%" text-anchor="end">{{ include.keybinding }}</text></svg></div></span>
        </span>
    {%- endif -%}

    {%- if include.description != '' and include.description != nil -%}
      <span class="icon-text icon-description">
        <span><div class="element"><svg><text x="87%" y="85%" text-anchor="end">{{ include.description }}</text></svg></div></span>
      </span>
    {%- endif -%}
  </div>
</div>
