{%- if site.versions.jquery -%}<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/{{ site.versions.jquery }}/jquery.slim.min.js"></script>{%- endif -%}
{%- if site.versions.bootstrap -%}<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/{{ site.versions.bootstrap }}/js/bootstrap.min.js"></script>{%- endif -%}
{%- if site.versions.moment -%}<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/{{ site.versions.moment }}/moment.min.js"></script>{%- endif -%}
{%- if site.versions.livestamp -%}<script src="//cdnjs.cloudflare.com/ajax/libs/livestamp/{{ site.versions.livestamp }}/livestamp.min.js"></script>{%- endif -%}
{%- if site.versions.pace -%}<script src="//cdnjs.cloudflare.com/ajax/libs/pace/{{ site.versions.pace }}/pace.min.js"></script>{%- endif -%}
{%- if site.versions.clipboard -%}<script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/{{ site.versions.clipboard }}/clipboard.min.js"></script>{%- endif -%}

<script>var whTooltips = { colorLinks: true, iconizeLinks: false, renameLinks: false };</script>
<script src="//wow.zamimg.com/widgets/power.js"></script>

<script src="{{ site.folders.js | prepend: site.baseurl }}/main.js?{{ site.time | date: site.date_formats.timestamp }}"></script>
