// $body-bg:                          $color-dark;
// $text-color:                       $color-light;
// $font-family-sans-serif:           $font-body;
// $headings-font-weight:             400;
// $link-color:                       $color-orange;
// $link-hover-color:                 $color-link-hover;
// $link-hover-decoration:            none;
// $nav-pills-active-link-hover-bg:   $color-gray-dark;
// $navbar-default-bg:                $color-dark;
// $navbar-default-border:            none;
// $navbar-default-link-color:        $link-color;
// $navbar-default-link-hover-color:  $link-hover-color;
// $navbar-default-link-active-color: $link-hover-color;
// $navbar-default-link-active-bg:    none;

$body-bg: $color-dark;
$body-color: $color-light;
$hr-border-color: $color-light;
