body {
  padding: 6.5rem 0;
}

footer {
  background-color: $color-footer;
  bottom: 0;
  padding: 20px 0 10px;
  position: fixed;
  width: 100%;
}

// Colors

.custom-bg-dark {
  background-color: $color-gray-dark;
}

// Navigation

.nav-icon {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  margin-top: -3px;
  margin-right: 3px;
}

// Icons

.icon-container {
  float: left;
  margin-right: 10px;

  .icon {
    width: 68px;
    height: 68px;
    position: relative;
    z-index: 0;

    a {
      width: 62px;
      height: 62px;
      top: 3px;
      left: 3px;
      display: inline-block;
      position: absolute;
      z-index: 20;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    a.disabled {
      pointer-events: none;
    }

    a:hover {
      width: 62px;
      height: 62px;
      top: 3px;
      left: 3px;
      display: inline-block;
      position: absolute;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      background-image: url($image-border-highlight);
      z-index: 20;
    }

    .icon-image {
      width: 56px;
      height: 56px;
      top: 6px;
      left: 6px;
      padding-top: 5px;
      display: inline-block;
      position: absolute;
      z-index: 5;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .icon-image-disabled {
      filter: grayscale(100%);
    }

    .icon-border {
      width: 100%;
      height: 100%;
      // top: -60px;
      background-image: url($image-border-large);
      display: inline-block;
      position: absolute;
      z-index: 10;
      background-repeat: no-repeat;
    }

    .icon-text {
      width: 100%;
      height: 100%;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
      display: inline-block;
      position: absolute;
      z-index: 25;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      pointer-events: none;

      &.icon-keybinding {
        top: 4px;
        right: 2px;

        font-size: 1rem;
        text-align: right;
      }

      &.icon-description {
        width: 100%;
        height: 100%;
        // top: -203px;
        // padding: 0 10px 5px 0;

        font-size: 0.6rem;
        text-align: right;

        span {
          position: absolute;
          bottom: 6px;
          right: 0;
        }
      }
    }
  }
}

// Bootstrap overrides

.row {
  @extend .row;

  margin-bottom: 10px;
}

// Page overrides

.page-row {
  margin-bottom: 40px;
}

.fade-out {
  opacity: 0.3;
}

// Testing

svg {
  width: 100%;
  height: 1.2rem;
}

svg text {
  fill: white;
  stroke-width: 2px;
  paint-order: stroke;
  stroke: black;
}
