// $color-light:      #f0f0f0;
// $color-dark:       #0f0f0f;
// $color-orange:     #ffa000;
// $color-gray-dark:  #222; // From Bootstrap source
// $color-footer:     lighten($color-dark, 2.5%);
// $color-link-hover: lighten($color-dark, 10%);
// $color-row-odd:    darken($color-dark, 2%);
// $color-row-even:   lighten($color-dark, 2%);
// $color-hover:      rgba(#000000, .75);

// $font-headers:     'Press Start 2P';
// $font-body:        'Ubuntu';

$color-light: #f0f0f0;
$color-dark: #0f0f0f;
$color-orange: #ffd100;
$color-gray-dark: #222; // From Bootstrap source
$color-footer: lighten($color-dark, 2.5%);
$color-link-hover: #fff;
$color-row-odd: darken($color-dark, 2%);
$color-row-even: lighten($color-dark, 2%);
$color-hover: rgba(#000000, 0.75);

$color-pace: #f0f0f0;

$font-headers: "Ubuntu";
$font-body: "Ubuntu";

$color-deathknight: #c41f3b;
$color-demonhunter: #a330c9;
$color-druid: #ff7d0a;
$color-hunter: #abd473;
$color-mage: #40c7eb;
$color-monk: #00ff96;
$color-paladin: #f58cba;
$color-priest: #ffffff;
$color-rogue: #fff569;
$color-shaman: #0070de;
$color-warlock: #8787ed;
$color-warrior: #c79c6e;

$image-border-large: "/web-wow-keybindings/src/images/icons/borders/large.png";
$image-border-highlight: "/web-wow-keybindings/src/images/icons/borders/highlight.png";
$image-border-selected: "/web-wow-keybindings/src/images/icons/borders/selected.png";
