---
layout       : page
title        : 'Template'
nav          : false
nav-dev      : true
data         : _template
---

{%- assign data = site.data[page.data] -%}

<div class="row no-gutters page-row">
  <div class="col">

    <div class="row">
      <div class="col">
        {%- include icon.html  image="spell_monk_brewmaster_spec.jpg" image-source=page.data -%}

        <h1>Template</h1>
      </div>
    </div>

    {%- for keybindings in data.spec -%}
      <div class="row no-gutters">

        <div class="col">

          {%- for keybinding in keybindings -%}
            {%- assign key = keybinding[1] -%}
            {%- include icon.html keybinding=key.keybinding description=key.description id=key.ability.id image=key.ability.icon image-source=page.data -%}
          {%- endfor -%}

        </div>

      </div>
    {%- endfor -%}

  </div>
</div>
