---
layout       : page
title        : 'Death Knight'
nav          : true
nav-dev      : true
data         : death-knight
---

{%- assign data = site.data[page.data] -%}

<div class="row no-gutters page-row">
  <div class="col">

    <div class="row">
      <div class="col">
        {%- include icon.html enabled=true image="spell_deathknight_bloodpresence.jpg" image-source=page.data -%}

        <h1>Blood</h1>
      </div>
    </div>

    {%- for keybindings in data.blood -%}
      <div class="row no-gutters">

        <div class="col">

          {%- for keybinding in keybindings -%}
            {%- assign key = keybinding[1] -%}
            {%- include icon.html enabled=key.enabled keybinding=key.keybinding description=key.description id=key.ability.id image=key.ability.icon image-source=page.data -%}
          {%- endfor -%}

        </div>

      </div>
    {%- endfor -%}

  </div>
</div>

<div class="row no-gutters page-row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row no-gutters page-row">
  <div class="col">

    <div class="row">
      <div class="col">
        {%- include icon.html enabled=true image="spell_deathknight_frostpresence.jpg" image-source=page.data -%}

        <h1>Frost</h1>
      </div>
    </div>

    {%- for keybindings in data.frost -%}
      <div class="row no-gutters">

        <div class="col">

          {%- for keybinding in keybindings -%}
            {%- assign key = keybinding[1] -%}
            {%- include icon.html enabled=key.enabled keybinding=key.keybinding description=key.description id=key.ability.id image=key.ability.icon image-source=page.data -%}
          {%- endfor -%}

        </div>

      </div>
    {%- endfor -%}

  </div>
</div>

<div class="row no-gutters page-row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row no-gutters page-row">
  <div class="col">

    <div class="row">
      <div class="col">
        {%- include icon.html enabled=true image="spell_deathknight_unholypresence.jpg" image-source=page.data -%}

        <h1>Unholy</h1>
      </div>
    </div>

    {%- for keybindings in data.unholy -%}
      <div class="row no-gutters">

        <div class="col">

          {%- for keybinding in keybindings -%}
            {%- assign key = keybinding[1] -%}
            {%- include icon.html enabled=key.enabled keybinding=key.keybinding description=key.description id=key.ability.id image=key.ability.icon image-source=page.data -%}
          {%- endfor -%}

        </div>

      </div>
    {%- endfor -%}

  </div>
</div>
