---
layout       : page
title        : 'Monk'
nav          : true
nav-dev      : true
data         : monk
---

{%- assign data = site.data[page.data] -%}

<div class="row no-gutters page-row">
  <div class="col">

    <div class="row">
      <div class="col">
        {%- include icon.html  image="spell_monk_brewmaster_spec.jpg" image-source=page.data -%}

        <h1>Brewmaster</h1>
      </div>
    </div>

    {%- for keybindings in data.brewmaster -%}
      <div class="row no-gutters">

        <div class="col">

          {%- for keybinding in keybindings -%}
            {%- assign key = keybinding[1] -%}
            {%- include icon.html enabled=key.enabled keybinding=key.keybinding description=key.description id=key.ability.id image=key.ability.icon image-source=page.data -%}
          {%- endfor -%}

        </div>

      </div>
    {%- endfor -%}

  </div>
</div>

<div class="row no-gutters page-row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row no-gutters page-row">
  <div class="col">

    <div class="row">
      <div class="col">
        {%- include icon.html  image="spell_monk_mistweaver_spec.jpg" image-source=page.data -%}

        <h1>Mistweaver (TODO, haven't played with this spec yet)</h1>
      </div>
    </div>

    {%- for keybindings in data.mistweaver -%}
      <div class="row no-gutters">

        <div class="col">

          {%- for keybinding in keybindings -%}
            {%- assign key = keybinding[1] -%}
            {%- include icon.html enabled=key.enabled keybinding=key.keybinding description=key.description id=key.ability.id image=key.ability.icon image-source=page.data -%}
          {%- endfor -%}

        </div>

      </div>
    {%- endfor -%}

  </div>
</div>

<div class="row no-gutters page-row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row no-gutters page-row">
  <div class="col">

    <div class="row">
      <div class="col">
        {%- include icon.html  image="spell_monk_windwalker_spec.jpg" image-source=page.data -%}

        <h1>Windwalker</h1>
      </div>
    </div>

    {%- for keybindings in data.windwalker -%}
      <div class="row no-gutters">

        <div class="col">

          {%- for keybinding in keybindings -%}
            {%- assign key = keybinding[1] -%}
            {%- include icon.html enabled=key.enabled keybinding=key.keybinding description=key.description id=key.ability.id image=key.ability.icon image-source=page.data -%}
          {%- endfor -%}

        </div>

      </div>
    {%- endfor -%}

  </div>
</div>
