<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body id="top">

    {% include navigation.html %}

    {{ content }}

    {% include footer.html %}

    {% include scripts.html %}

  </body>
</html>
